{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}

<div id="div_jumbo">
    <div class="jumbotron">        
            <div class="row">               
                <div class="col-md-12" id="titulo">                   
                    <img src="{% static 'app/imagens/portservicebr.svg' %}" alt="PortService-Br" class="img-responsive" />
                     <p class="lead">Plataforma para Processamento de Linguagem Natural da Língua Portuguesa</p>
                </div>             
            </div>
         </div>        
    </div>    
{% endblock %}



